<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="CodeSmithTech Attendance System">
    <meta name="keywords" content="Attendance System, minimal, responsive, CRM, Projects ">
    <meta name="author" content="MD.Fahim_CodeSmithTech">
    <meta name="robots" content="noindex, nofollow">
    <title>Attendance - All Attendance</title>

    <!-- All CSS -->
    {% include 'base/css.html' %}
</head>
<body>

<!-- Main Wrapper -->
<div class="main-wrapper">
    <!-- Navbar -->
    {% include 'base/navbar.html' %}
    <!-- Sidebar -->
    {% include 'base/sidebar.html' %}
    <!-- Page Wrapper -->
    {% block content %}
    {% endblock %}
</div>

<!-- Sidebar Overlay -->
<div class="sidebar-overlay" data-reff=""></div>

<!-- All JS -->
{% include 'base/js.html' %}

</body>
</html>